{% extends 'master.html' %}

{% block content %}

<h2>Courses</h2>


<table class="table table-striped">
<tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Credits</th>
    <th>Capacity</th>
    <th>Add</th>

</tr>
{% for course in courses %}
<tr>
    <td>{{course.code}}</td>
    <td>{{course.name}}</td>
    <td>{{course.description}}</td>
    <td>{{course.credits}}</td>
    <td>{{course.capacity}}</td>
    <td><a href="{% url 'reg_course' course.code %}">Add</a></td>
</tr>

{% endfor %}
</table>


{% endblock %}
