{% extends "master.html" %}

{% block content %}

<form method="post">

  {% csrf_token %}


  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{student.name}}" >
    </div>
  </div>
  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label">Major</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="major" value="{{student.major}}">
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label">Average</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="avg" value="{{student.avg}}">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{% if student %} Update {% else %} Add {% endif %}</button>
</form>

{{data}}

{% endblock %}