{% extends 'master.html' %}

{% block content %}
<h2>Welcome {{user.username}}</h2>


<table class="table table-striped">
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Major</th>
    <th>Average</th>
    <th>Create Date</th>
    <th>Delete</th>
    <th>Update</th>

</tr>
{% for student in students %}
<tr>
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.major}}</td>
    <td>{{student.avg}}</td>
    <td>{{student.create_date}}</td>
    <td><a href="{% url 'delete' student.pk %}">Delete</a></td>
    <td><a href="{% url 'update' student.pk %}">Update</a></td>
</tr>

{% endfor %}
</table>


{% endblock %}
